* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/39aee4d4-5f93-40c6-bcf9-e3a73f5d09e2/d5qcmdq-dcdab77b-7d94-45a6-9b75-9aa7ddd9bed0.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM5YWVlNGQ0LTVmOTMtNDBjNi1iY2Y5LWUzYTczZjVkMDllMlwvZDVxY21kcS1kY2RhYjc3Yi03ZDk0LTQ1YTYtOWI3NS05YWE3ZGRkOWJlZDAuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.N-_fIT_sy3yrKifs8coNiPuJmtCG_CgGhgRroNJyRKY")

}

.main-container {
    width: 80%;
    min-height: 10%;
    margin: 20px auto;
    border: solid white 3px;
    background: black;
    padding: 13px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10%;

}

p {
    font-size: 20px;
}

header {
    margin: auto;
    width: 100%;
    height: 6rem;;
    background: black;
    border: solid white 3px;
    color: gold;
    text-align: center;
    font-size: 60px;
    

}

.start {
    width: 100%;
    height: 110%;
    background-color: black;
    background-image: url("https://thumbs.gfycat.com/TimelyHilariousImago-max-1mb.gif");
    position: absolute;
}



/* #hideMe {
    -webkit-animation: start 0s ease-in 7.5s forwards;

}

@-webkit-keyframes start {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
} */