
*{
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("https://cdn1.epicgames.com/ue/product/Screenshot/g10-1920x1080-d26c5122d8803d571cd4c752aae3a07f.jpg");
    padding: 0
}
.lander-about {
    width: 80%;
    margin: 20px auto;
    border: solid white 3px;
    background: black;
    padding: 13px;
    height: 6rem;
    color: white;
    font-family: cursive;

}




.lander-image {
    background-image: url("https://www.picclickimg.com/00/s/MTUyNFgxMzQ0/z/qgwAAOSwRJ9XhZay/$/5-Ancient-Egyptian-Pharaoh-Tutankhamun-Gold-Mask-Coffin-_1.jpg");
    background-size: 100% 100%;
    height: 50%;
    margin-bottom: 2rem;
}

.lander-image2 {
    background-image: url("https://fm-static.cnbc.com/awsmedia/chart/2019/6/16/1penny.1563293940435.jfif");
    background-size: 100% 100%;
    height: 56%;
}

.lander-image3 {
    background-image: url("http://oldcomputers.net/pics/C64combo.jpg");
    background-size: 100% 100%;
    height: 56%;
}

.container {
    width: 300px;
    height: 500px;
    border: solid white 3px;
    margin: 20px;
    overflow: hidden;
    border-radius: 1rem;
    color: black;
    transition: all 200ms linear;
    border-bottom: white;
    box-sizing: border-box;
}


.body-background {
    justify-content: center;
    display: flex;
    background-color: black;
    background: rgba(76, 175, 80, 0.0)
}

.lander-p {
    background-color: black;
    height: 28rem;
    margin-top: -15%;
    font-family: cursive;
    color: white;
    text-align: center;
}


.title {
    font-family: cursive;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.about-info {
    text-align: center;
    font-size: 1.1rem;
}
